# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
data_/11.csv
eda.py
process.py
process_nn.py
Untitled.ipynb
output/docs/report.docx
output/docs/proposal.docx
docs/project/ml_toolkit.py
docs/project/data/accuracies.xlsx
docs/project/data/data_xg_clean.csv
docs/project/data/data_xg_clean_encoded.csv
docs/project/output/accuracy/nn_pytorch.xlsx
docs/project/output/accuracy/rf.xlsx
docs/project/output/accuracy/xgboost.xlsx
docs/project/output/data/data_filtered_imputed_clean.csv
docs/project/output/data/data_filtered_imputed_clean_v2.csv
docs/project/output/data/data_filtered_imputed_encoded.csv
docs/project/output/data/xgb_classifier/data_encoded.xlsx
docs/project/output/docs/capstone_proposal.docx
docs/project/output/docs/data_factors.xlsx
docs/project/output/docs/data_factors_.xlsx
docs/project/output/docs/proposal.pdf
docs/project/output/docs/report.docx
docs/project/output/docs/~$report.docx
docs/project/output/xgboost_viz
docs/project/output/xgboost_viz.pdf
docs/project/process_nn_classifier.ipynb
docs/project/process_xg_classifier.ipynb
docs/project/README.md
docs/project/Reference Manual Version 5.docx
docs/project/report.pdf
output/docs/report.docx
output/docs/~$pstone_proposal.docx
output/docs/~$report.docx
docs/project/eda.ipynb
eda-Copy1.ipynb
.vscode
eda-Copy1.ipynb
